/*
CSS HEX
--davys-gray: #595758ff;
--lavender-blush: #ffeef2ff;
--pale-purple: #ffe4f3ff;
--pink-lavender: #ffc8fbff;
--amaranth-pink: #ff92c2ff;

FONTS

font-family: 'Abril Fatface', cursive;
font-family: 'Berkshire Swash', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Slabo 13px', serif;
font-family: 'Slabo 27px', serif;
font-family: 'Ultra', serif;
font-family: 'Yeseva One', cursive;

Playfair & Lato

*/

/*PAGE SECTIONS*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #595758ff;
  border-top: 10px solid #ff92c2ff;
  border-bottom: 10px solid #ff92c2ff;
}

/*TEXT ELEMENTS*/

.heading-2 {
  font-family: "Inconsolata", mono-space;
  font-size: 50px;
  color: #595758ff;
  text-transform: uppercase;
}

.paragraph {
  font-family: "Inconsolata", mono-space;
  font-size: 25px;
  color: #595758ff;
}

.sub-text {
  font-family: "Inconsolata", mono-space;
  color: #595758ff;
  font-weight: lighter;
  font-size: 1.8em;
  letter-spacing: 0.1em;
}

.icons-header {
  font-size: 50px;
  color: #595758ff;
}
.icons {
  font-size: 50px;
  margin-left: -0.3em;
  color: #595758ff;
}

.pink-span {
  background-color: #ffc8fbff;
}

/*NAVBAR*/
.navbar {
  background-color: #ffc8fbff;
  margin-bottom: 5em;
  margin-top: 1em;
}

.px-3 {
  padding-left: ($spacer * 0.5) !important;
  padding-right: ($spacer * 4) !important;
}

.heading-logo {
  font-family: "Berkshire Swash", cursive;
  color: #595758ff;
  font-weight: 400;
}
.nav-links {
  color: grey;
}

.navbar a:link {
  transition: 0.7s;
  color: grey;
  font-size: 26px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
  font-family: "Inconsolata", monospace;
  text-transform: none;
  font-size: 20px;
}
.navbar a:link:hover {
  background-color: white;
  color: #595758ff;
  padding: 32px 10px;
}

/*ENGAGING TEXT AND IMAGE HEADER*/

#header-cake {
  border: 1px solid transparent;
  width: auto;
  height: 42em;
  background-image: url("./main-cake.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: cover;
}

.header-container {
  position: relative;
}

/*sub-heading {
  position:absolute;
  margin-left:10px;
  margin-bottom:100px;
}*/

.white-bg {
  background-color: white;
}

.transparent-bg {
  background-color: transparent;
}

.engaging-header {
  background-color: transparent;
}

.engaging-message {
  word-break: "word-break";
  width: fit-content;
}

.engaging-text {
  color: #595758ff;
  font-size: 12vh;
  font-family: "Berkshire Swash", cursive;
  font-weight: 400;
  opacity: 1;
  column-gap: 0;
  text-align: center;
  line-height: 1;
  padding-top: 0.6em;
  position: relative;
  overflow: hidden;
}

.button-container {
  text-align: center;

  position: relative;
  border-top: solid 2px #595758ff;
  border-bottom: solid 2px #595758ff;
  border-left: white;
  border-right: white;
  margin-bottom: 0.8em;
}

.button-hover {
  text-align: center;
}
.menu-button {
  border: white;
  margin: none;
  transition: all 0.5s ease;
  padding: 0.5em;
  background-color: white;
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.5em;
  font-size: 20px;
  color: #595758ff;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  width: fit-content;
  display: inline-block;
}

.menu-button:hover {
  background-color: white;
  color: #ff92c2ff;
  font-weight: bold;
}

/* .button */

.menu-button .button-hover {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.menu-button:before,
.menu-button:after {
  content: "";
  position: absolute;
  top: 0.67em;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.4s, opacity 0.6s;
  -moz-transition: 0.4s, opacity 0.6s;
  -o-transition: 0.4s, opacity 0.6s;
  transition: 0.4s, opacity 0.6s;
}

/* :before */

.menu-button:before {
  content: attr(data-hover);
  -webkit-transform: translate(-150%, 0);
  -moz-transform: translate(-150%, 0);
  -ms-transform: translate(-150%, 0);
  -o-transform: translate(-150%, 0);
  transform: translate(-150%, 0);
}

/* :after */

.menu-button:after {
  content: attr(data-active);
  -webkit-transform: translate(150%, 0);
  -moz-transform: translate(150%, 0);
  -ms-transform: translate(150%, 0);
  -o-transform: translate(150%, 0);
  transform: translate(150%, 0);
}

/* Span on :hover and :active */

.menu-button:hover .button-hover,
.button:active .button-hover {
  opacity: 0;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
}

/*  
  We show :before pseudo-element on :hover 
  and :after pseudo-element on :active 
*/

.menu-button:hover:before,
.menu-button:active:after {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* 
We hide :before pseudo-element on :active
*/

.menu-button:active:before {
  -webkit-transform: translate(-150%, 0);
  -moz-transform: translate(-150%, 0);
  -ms-transform: translate(-150%, 0);
  -o-transform: translate(-150%, 0);
  transform: translate(-150%, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
/*
/*GRID FEATURE ROW*/

/*CAKE FACTS*/

.cake-facts {
  margin-bottom: 10em;
}

/*SUBHEADING*/
.sub-heading {
  padding-top: 10em;
  padding-bottom: 10em;
}

/*TWO IMAGES SEC*/

.two-imagesbg {
  background-color: white;
  padding: 2em;
  border-top: solid 2px #ff92c2ff;
  border-bottom: solid 2px #ff92c2ff;
  padding-bottom: 6em;
}
.two-images {
  background-color: #ff92c2ff;
  margin-bottom: 8em;
}

.cake-spacing {
  padding-top: 4em;
}

.two-images-button {
  border: white;
  margin: none;
  transition: all 0.5s ease;
  padding: 0.5em;
  background-color: white;
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.5em;
  font-size: 20px;
  color: #595758ff;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  width: fit-content;
  display: inline-block;
}

.two-images-button:hover {
  background-color: white;
  color: #ff92c2ff;
  font-weight: bold;
  border-top: solid 1px #595758ff;
  border-bottom: solid 1px #595758ff;
}

.cake-images {
  width: 60%;
}

/*CAKE QUOTE*/
.cake-quote {
  background-color: #ffe4f3ff;
  width: 100%;
  margin-top: 10em;
  margin-bottom: 10em;
  width: 100%;
  font-family: "Inconsolata", sans-serif;
  font-size: 20px;
  padding: 0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.bakery-image {
  width: 800px;
}
/*HEADINGS*/

/*CAROUSEL*/
.carousel-padding {
  background-color: #ffe4f3ff;
  padding-bottom: 2em;
  padding-top: 2em;
  margin-bottom: 6em;
}

.carousel-width {
  width: 50%;
}

.carousel-inner img {
  margin: auto;
}

/*.carousel-control-prev
  .carousel-control-next
  .carousel-indicators
  .sr-only
  .li {
  margin: auto;
  text-align: center;
} */

/*CAKE COMPO SECTION*/

.pink-compo-background {
  background-color: #ffc8fbff;
}

.cake-compo {
  font-family: "Berkshire Swash", cursive;
  color: white;
  font-weight: 400;
  font-size: 80px;
  text-align: center;

  border-bottom: none;
}
.container-layout {
  border-top: solid 10px #ff92c2ff;
  border-bottom: solid 10px #ff92c2ff;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  grid-template-rows: repeat(1, minmax(200px, 1fr));
  background-color: white;
  margin-bottom: 5em;
  margin-top: 0em;
  width: 100%;
}

.container-layout > div {
  font-size: large;
  text-align: center;
  font-family: "inconsolata", mono-space;
  font-size: 3vw;
  color: #595758ff;
}
.container-layout > div > img {
  object-fit: cover;
  width: 100%;
  #ff92c2ff;
  height: 100%;
  background-color: #ffc8fbff;
}

.opacity {
  opacity: 0.5;
}

.greyscale {
  opacity: 0.7;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.pink-background {
  background-color: #ffc8fbff;
}

.pink-text {
  background-size: cover;
  color: #595758ff;
  font-family: "inconsolata", monospace;
  font-size: 18px;
  font-weight: lighter;
  justify-content: center;
  padding-top: 0.5em;
}

.pink-text:hover {
  color: black;
  font-weight: 500;
}

.greyscale:hover {
  -webkit-filter: grayscale(0);
  filter: none;
  opacity: 1;
}

.background-opacity {
  background-color: rgb(178, 190, 181, 0.5);
}

/*CAKE COMPO FORM*/

form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: white;
  font-family: "Inconsolata", monospace;
  font-weight: 800;
  font-size: 18px;
  border-radius: 0px;
  line-height: 22px;
  background-color: #ffe4f3ff;
  border: 2px solid #ff92c2ff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #ff92c2ff;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Inconsolata", monospace;
  width: 100%;
  background: white;
  border-radius: 0px;
  border: 2px solid #ff92c2ff;
  cursor: pointer;
  color: grey;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #ff92c2ff;
  color: #595758ff;
}

/*FOOTER*/
.footer-pink {
  background-color: #ffe4f3ff;
  width: 100%;
  height: 3em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.footer-text {
  font-family: "inconsolata", monospace;
  font-size: 1em;
}
/*LINKS*/
