/*
CSS HEX
--davys-gray: #595758ff;
--lavender-blush: #ffeef2ff;
--pale-purple: #ffe4f3ff;
--pink-lavender: #ffc8fbff;
--amaranth-pink: #ff92c2ff;

FONTS

font-family: 'Abril Fatface', cursive;
font-family: 'Berkshire Swash', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Slabo 13px', serif;
font-family: 'Slabo 27px', serif;
font-family: 'Ultra', serif;
font-family: 'Yeseva One', cursive;

Playfair & Lato

*/

/*PAGE SECTIONS*/

body {
  color: #595758ff;
  border-top: 10px solid #ff92c2ff;
  border-bottom: 10px solid #ff92c2ff;
  position: relative;
}

/*TEXT ELEMENTS*/

.heading-2 {
  font-family: "Inconsolata", mono-space;
  font-size: 50px;
  color: #595758ff;
  text-transform: uppercase;
}

.paragraph {
  font-family: "Inconsolata", mono-space;
  font-size: 25px;
  color: #595758ff;
}

.sub-text {
  font-family: "Inconsolata", mono-space;
  color: #595758ff;
  font-weight: lighter;
  font-size: 1.8em;
  letter-spacing: 0.1em;
}

.icons-header {
  font-size: 50px;
  color: #595758ff;
}
.icons {
  font-size: 50px;
  margin-left: -0.3em;
  color: #595758ff;
}

.pink-span {
  background-color: #ffc8fbff;
}

/*NAVBAR*/
.navbar {
  background-color: #ffc8fbff;
  margin-bottom: 5em;
  margin-top: 1em;
}

.px-3 {
  padding-left: ($spacer * 0.5) !important;
  padding-right: ($spacer * 4) !important;
}

.heading-logo {
  font-family: "Berkshire Swash", cursive;
  color: #595758ff;
  font-weight: 400;
}
.nav-links {
  color: grey;
}

.navbar a:link {
  transition: 0.7s;
  color: grey;
  font-size: 26px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
  font-family: "Inconsolata", monospace;
  text-transform: none;
  font-size: 20px;
}
.navbar a:link:hover {
  background-color: white;
  color: #595758ff;
  padding: 32px 10px;
}

/*ENGAGING TEXT AND IMAGE HEADER*/

#header-cake {
  border: 1px solid transparent;
  width: auto;
  height: 42em;
  background-image: url("./main-cake.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: cover;
}

.white-bg {
  background-color: white;
}

.transparent-bg {
  background-color: transparent;
}

.engaging-header {
  background-color: #ffe4f3ff;
}

.engaging-message {
  word-break: word-break;
}

.engaging-text {
  color: #595758ff;
  font-size: 12vh;
  font-family: "Berkshire Swash", cursive;
  font-weight: 400;
  opacity: 1;
  column-gap: 0;
  text-align: center;
  line-height: 1;
  padding-top: 0.6em;
}

.button-container {
  margin: auto;
  text-align: center;
  padding-bottom: 0.8em;
}
.menu-button {
  transition: all 0.5s ease;
  padding: 0.5em;
  background-color: white;
  position: relative;
  font-family: "inconsolata", mono-space;
  letter-spacing: 0.5em;
  font-size: 20px;
  color: #595758ff;
  border: 2px solid #595758ff;
  text-transform: uppercase;
  margin-top: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.menu-button:hover {
  background-color: white;
  color: #ff92c2ff;
  font-weight: bold;
}

/*CAKE FACTS*/

.cake-facts {
  margin-bottom: 10em;
}

/*SUBHEADING*/
.sub-heading {
  padding-top: 10em;
  padding-bottom: 10em;
}

/*TWO IMAGES SEC*/

.two-imagesbg {
  background-color: #ffc8fbff;
  padding: 2em;
}
.two-images {
  background-color: #ffc8fbff;
  padding: 2em;
  margin-bottom: 8em;
}
.cake-spacing {
  padding-bottom: 2em;
}

.cake-images {
  width: 60%;
}

/*CAKE QUOTE*/
.cake-quote {
  background-color: #ffe4f3ff;
  width: 100%;
  margin-top: 10em;
  margin-bottom: 10em;
  width: 100%;
  font-family: "Inconsolata", sans-serif;
  font-size: 20px;
  padding: 0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.bakery-image {
  width: 800px;
}
/*HEADINGS*/

/*CAROUSEL*/
.carousel-padding {
  background-color: #ffe4f3ff;
  padding-bottom: 2em;
  padding-top: 2em;
  margin-bottom: 6em;
}

.carousel-width {
  width: 50%;
}

.carousel-inner img {
  margin: auto;
}

/*.carousel-control-prev
  .carousel-control-next
  .carousel-indicators
  .sr-only
  .li {
  margin: auto;
  text-align: center;
} */

/*IMAGE LAYOUT AT BOTTOM*/

.container-layout {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  grid-template-rows: repeat(1, minmax(200px, 1fr));
  background-color: white;
  margin-bottom: 5em;
  margin-top: 5em;
}

.container-layout > div {
  font-size: large;
  text-align: center;
  font-family: "inconsolata", mono-space;
  font-size: 3vw;
  color: #595758ff;
}
.container-layout > div > img {
  object-fit: cover;
  width: 100%;
  #ff92c2ff;
  height: 100%;
  background-color: #ffc8fbff;
}

.opacity {
  opacity: 0.5;
}

.greyscale {
  opacity: 0.7;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.pink-background {
  background-color: #ffc8fbff;
}

.pink-text {
  background-color: #ffeef2ff;
  background-size: cover;
  color: #595758ff;
  font-family: "inconsolata", monospace;
  font-size: 20px;
  font-weight: lighter;
  justify-content: center;
  padding-top: 0.5em;
}

.pink-text:hover {
  color: black;
  font-weight: 500;
}

.greyscale:hover {
  -webkit-filter: grayscale(0);
  filter: none;
  opacity: 1;
}

.background-opacity {
  background-color: rgb(178, 190, 181, 0.5);
}

.footer-pink {
  background-color: #ffc8fbff;
  width: 100%;
  height: 3em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.footer-text {
  font-family: "inconsolata", monospace;
  font-size: 1em;
}
/*LINKS*/
